
html{
    font-size: 18px;
}
body{
 font-family: Arial, Helvetica, sans-serif;
    background-color:#000 ;
}

.container{
width: 75%;
margin: 0  175px ;
text-align: center;

}


/*start section */
section{
    background-color:#cccccc;

}
 
/* start navbar*/

  
.newheader{
  background-image: url("../images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 127px;
  } 

.mbinz-bg{
  display: block;
}


.social-media{
    display: inline-block;
    width: 22%;
    float: right;
}



.menusec{
    background-color: black;
}



/*  start navbar links */

ul {
    overflow: hidden;
    display: inline-block;
    width: 73%;
    margin-right: 22%;
  
  }


.menusec ul {
    border-top: thin solid #999999;
}
 ul a {
    
    float: left;
    color: #f2f2f2;
    padding: 6px 13px;
    text-decoration: none;
    text-transform: none;
    font-size: 13px;
}

 ul a:hover {
  background-color: rgb(94, 122, 248);
  color: rgb(255, 255, 255);
}

/*  end navbar links */


/* End navbar*/



.im{
    
    margin-top: 10px;
    
}
 .parent{ 
     display: block;
     padding:0 10px;

 }

.parent .div1{
width: 64%;
display: inline-block;
padding: 0 6px; 
float: left;

}


.div1 img{
    padding: 5px;
   
    border: thin solid #fff;
    outline-style:  thin solid ;
    outline-color: #f2f2f2;
}

.parent .div2{
    width: 28%;
    display: inline-block;
    padding: 0 28px;
    float: right;}



/* start frame*/
  
 h2{
    color: rgb(100, 149, 237);
    border-bottom:thin solid #999999; 
}

h5{
    color: #f07702;
} 


h6{
    color: rgb(100, 149, 237);
    text-align: left;
    margin: 0px 0px;

} 
p,li{
    text-align: justify;
font-size: 14px;

}
/*  end frame*/
 
/* start footer*/

footer p {
    border-top: thin solid #999999;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
/* end  footer*/